.button {
  padding: 10px;
  width: 100px;
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}
.submit-button {
  padding: 10px;
  width: 100px;
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 1vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.inside {
  width: 40vw;
  height: auto;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 80%;
  padding: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
